$grey_light: #B3B3B3;
$grey_lighter: #DFE3E6;
$grey_lightest: #f2f2f2;
$grey_lightestest: #f7f7f7;
$grey_darker: #666666;
$grey_darkest: #333333;
$red: rgb(255, 95, 95);
$yellow: rgb(255, 241, 110);

@mixin form-inputs {
  height: 32px;
  padding: 6px;
  background-color: $grey_lighter;
  border: 1px solid $grey_darkest;
  border-radius: 5px;
  cursor: pointer;
  font-size: initial;
}

.Scheduler {
  display: flex;
  background-color: $grey_lightestest;
  height: 80vh;
  
  .Form {
    flex-grow: 1;
    border: $grey_darkest 1px solid;

    .inputs {
      display: flex;
      flex-direction: column;
      align-items: center;
      .employee-picker {
        @include form-inputs;
      }
      .date-picker {
        @include form-inputs;

        .react-date-picker__wrapper {
          border: none;
        }
        .react-date-picker__button {
          padding: 0;
        }
      }
      .react-timerange-picker {
        display: flex;
        flex-direction: column;

        @include form-inputs;
        .react-timerange-picker__wrapper {
          border: none;
        }
      }
    }
  }

  .Over-view {
    flex-grow: 3;
    border: $grey_darkest 1px solid;
    
    .items-container {
      justify-content: flex-start;
      display: flex;

      .item {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        background-color: #FAFBFC;
        margin: 6px;
        padding: 2px 0px 2px 2px;
        border: $grey_darkest solid 1px;
        border-radius: 10px;
        min-width: 100px;
        .inner-text {
          p {
            margin: 0;
            padding: 2px;
          }
        }
        .delete-button {
          border-radius: 10px;
          border: $grey_darkest solid 1px;
          height: 18px;
          width: 18px;
          cursor: pointer;
        }
        .onhover-animation {
          width: 4px;
          background: $red;
          -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
          transition: width 2s;
          overflow: hidden;
          margin-top: -2px;
          margin-bottom: -2px;
          .crit-alert-msg {
            display: flex;
            flex-direction: column;
            max-width: 125px;
            height: 100%;
            .crit {              
              background: $red;
              flex-grow: 1;
            }
            .alert {
              background: $yellow;
              flex-grow: 1;
            }
          }
        }
        .onhover-animation:hover {
          width: 40px;

          .crit-alert-msg {
            display: flex;
            flex-direction: column;
            max-width: 125px;
            height: 100%;
            .crit {              
              background: $red;
              flex-grow: 1;
            }
            .alert {
              background: $yellow;
              flex-grow: 1;
            }
          }
        }
      }
    }
  }
}

.App-header {
  display: flex;
}

.App {
  text-align: center;
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $grey_darkest;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
